<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Add new art</title>
</head>
<body>
<p th:text="${message}" th:if="${message ne null}" ></p>
<form method="post" th:action="@{/addart}" enctype="multipart/form-data">
    <div >
        <input type="file" name="image" accept="image/*">
    </div>
    <button type="submit">Upload image</button>
</form>
<span th:if="${msg != null}" th:text="${msg}"></span>
</body>
</html>