<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Hello World!</title>
</head>
<body>
<h1 th:inline="text">
    Hello <span sec:authentication="principal.username"></span>!
</h1>

<div class="container">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <h2>Upload Image Example</h2>
            <p th:text="${message}" th:if="${message ne null}" class="alert alert-primary"></p>
            <form method="post" th:action="@{/addart}" enctype="multipart/form-data">
                <div class="form-group">
                    <input type="file" name="image" accept="image/*" class="form-control-file">
                </div>
                <button type="submit" class="btn btn-primary">Upload image</button>
            </form>
            <span th:if="${msg != null}" th:text="${msg}"></span>
        </div>
    </div>
</div>

<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>
</body>
</html>