<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Hello</title>
</head>
<body>
<h1 th:inline="text">
    Hello <span sec:authentication="principal.username"></span>!
</h1>

<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>

<a th:href="@{/addart}">Add new art</a>

<div>
    <table>
        <tr th:each="art : ${artsData}">
            <img th:src="${art.getName()}" width="700" height="700">
        </tr>
    </table>
</div>

<!---<img th:src="@{/images/art.jpg}" >--->

</body>
</html>