<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title> StorageArt </title>
</head>
<body>
Registration
<form th:action="@{/registration}" method="post" th:object="${userData}">
    <div>
        <label> User Name:  <input type="text" th:field="*{username}"/>
        <td th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></td>
        </label>
    </div>
    <div><label> Password: <input type="password" name="password" th:field="*{password}"/> </label></div>
    <div><input type="submit" value="Create account"/></div>
</form>
</body>
</html>